<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://apigatewayrc20220822114255.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/c574ac3b-e5e3-40e9-b936-752d32da2e90/resourceGroups/GRApiGateWay/providers/Microsoft.ContainerRegistry/registries/ApiGateWayRC</ContainerResourceId>
    <ContainerResourceName>ApiGateWayRC</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>apigatewayrc.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c574ac3b-e5e3-40e9-b936-752d32da2e90/resourcegroups/GRApiGateWay/providers/Microsoft.Web/sites/ApiGateWayRC20220822114255</ResourceId>
    <ResourceGroup>GRApiGateWay</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apigatewayrc20220822114255.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d176056e-a8f5-4503-9727-8dbbe2d2aa25</ProjectGuid>
  </PropertyGroup>
</Project>